  body {
            SCROLLBAR-FACE-COLOR: #CCFFFF;
            SCROLLBAR-HIGHLIGHT-COLOR: white;
            SCROLLBAR-SHADOW-COLOR: #813533;
            SCROLLBAR-3DLIGHT-COLOR: #813533;
            SCROLLBAR-ARROW-COLOR: #813533;
            SCROLLBAR-TRACK-COLOR: white;
            SCROLLBAR-DARKSHADOW-COLOR: #813533;
        }