<!--未登录首页页面-->

@{
    ViewBag.Title = "主页";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<div class="container">
    <section>
        <div class="content">
            <h1 class="brand-h1">欢迎使用科研流程管理系统</h1>
            <h2>此系统基于ccflow工作流引擎，使用.NET MVC技术开发</h2>
        </div>
    </section>
</div>

