body {
    background:url(../../../Images/loginbackground.jpg) no-repeat 
}

header{
    margin:40px 50px 0 50px;
    border:0px solid red;
    position:relative;
    height:30px;
    padding:5px;
}
header a{
     float:right;
     border:0 ;

}
header a img{
     border:0 ;
     margin-right:10px;
}

section .content{
    margin:150px auto;
    text-align:center;
}
section .brand-h1{
    font-weight:bold;
    font-size:70px;
}
section button{
    width:400px;
    text-transform:uppercase;
}


footer{
    border:0px solid red;
    width:100%;
    position:fixed;
    bottom:0;
    text-align:center;
}


.form-signin {
    margin:130px auto;
    padding: 15px;  
    text-align: center;
}

 .form-signin  button{
   background-color:transparent;
   border:0
}
 .form-signin  button img{
   background-color:transparent;
   border:0;
   width:100px;
   height:30px
}

.form-signin .form-control {
    position: relative;
    height: auto;
    width:300px;
    -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
            box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
    margin-bottom:20px;
    background-color:transparent;
}
.form-signin .form-control:focus {
    z-index: 2;
}
 

 