<!--布局页，用于登录前页面的统一布局-->

<!DOCTYPE html>
<html lang="zh">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="~/Content/myview/layouthome/share.css" rel="stylesheet" />
</head>
<body>
    <header>
        <img src="../../Images/logo.png" alt="Logo" width="100" />
        <button type="button" class="btn btn-default btn-sm" onclick="javascript: SignIn()">
            <span class="glyphicon glyphicon-leaf"></span> &nbsp;sign in
        </button>
    </header>
    @RenderBody()
    <footer>
        <div>&copy; Keith</div>
    </footer>
   
    
    <!-- Placed at the end of the document so the pages load faster -->
    <script>

        function SignIn() {
            window.location.href = "/Home/SignIn";
        }

        function SignUp() {
            window.location.href = "/Home/SignUp";
        }
    </script>

</body>
</html>
